<script setup lang="ts">
import { useHomeStore } from '@/stores/homeStore';
const homestore = useHomeStore()
</script>

<template>
    <button @click="homestore.doInc()">{{ homestore.num }}</button>
</template>