<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messagesList = ref<typeof MessageList | null>(null)
const answers = ['สวัสดี', 'ไปไหนมาเหรอ', 'กินข้าวยังจ๊ะ', 'ไม่คุยด้วยและ']
function send(message: string) {
    messages.value.push(message)
    answersWithComputer()
}
function answersWithComputer() {
    const answer = answers[Math.floor(Math.random() * 10000) % answers.length]
    messages.value.push(answer)
    nextTick(() => {
        messagesList.value?.updateUI()
    })
}
</script>

<template>
    <div>
        <MessageList ref="messageList" :messages="messages"></MessageList>
        <MessageBox @send="send"></MessageBox>
    </div>
</template>

